/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.bg-primary{
    background-color: #54B4D3!important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    min-height: 100%;

    /*background-image: url("website-background2.png");*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/

    /*background: #e3f2fd;*/
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}
.logo .menu-icon {
    color: #333;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
}
.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}
nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}
nav.open .sidebar {
    left: 0;
}
.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
}
.sidebar-content .list {
    list-style: none;
}

.font-size{
    font-size: 22px;
}
.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
}
.lists .nav-link:hover {
    background-color: #4070f4;
}
.nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: #707070;
}
.nav-link .link {
    font-size: 16px;
    color: #707070;
    font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
    color: #fff;
}
.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}
.registration{
    margin-top: 50px;
    /*background-color: #0c5460;*/
}
.lp-record{
    margin-top: 100px;
}
.monitor-table{
    margin-top: 100px;
}
.container {
    max-width: 60% !important;/*Set your own width %; */
}

.report {
    margin-top: 100px;
}

.date-picker
{
    font-size: 20px;

}
.data-table2
{
    margin-bottom: 50px;
}

.monitor-table
{
    margin-top: 15px;
}

.pass
{
    color: green;
}
.failed
{
    color: red;
}

.list-ori
{
    text-align: center;
}

.report-table
{
    margin-top: 20px;
}
.print-btn
{
    margin-top: 20px;
}

.navigation-home
{
    z-index: 100;
}
.announcement-create
{
    margin-top: 30px;
}
.file-form
{
    margin-top: 10px;
    color: steelblue;
}
.announcement-view
{
    margin-top: 20px;
}
.news-box
{
    transition: transform .2s;
    background-color: #F3FFFF;
}

.news-box:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.footer
{
    margin-top: 250px;

}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 260px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 80px;


    /*box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);*/
}

/* The navigation menu links */




.sidenav .sidebar-content
{
    padding: 10px;
}

.sidebar-content
{

}
.footer-front
{
    z-index: 999;
    position: relative;
}

.droppy:focus
{
    outline: blue;

}
.page-item .page-link {
    box-shadow: none;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
}

input[type="file"]::file-selector-button {
    border: 1px solid #00cec9;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;

    transition: 0.5s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}

/*Table styling*/


table
{
    border-radius: 6px !important;


}

.feedback-table{
    margin-top: 15px;

    border-radius: 6px;

}



textarea:focus{
    outline: none;
}
.response
{
    opacity: 1;
    transition: opacity 1s linear;
}











/*responsive stuff*/
@media screen and (max-width: 950px)
{
   .btn-size
   {
       height: 30px;
       width:30px;
       font-size: 12px;


   }

    .smol-font
    {
        font-size: 13px;

    }
    .container
    {
        /*max-width: 70% !important;*/

    }

}

@media screen and (max-width: 393px)
{
    .date-picker
    {
        font-size: 10px;
    }
}

/*data table css*/
